<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="static/images/fipsar-head.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fipsar IT Solutions</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
    <!-- Optional Bootstrap Icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-icons/bootstrap-icons.css') }}">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Your Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .readonly {
            pointer-events: none;
            background-color: #e9ecef;
        }

        .mode-toggle {
            display: flex;
            /* justify-content: center; */
            margin: 20px 0;
        }

        .mode-toggle-switch {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked+.slider {
            background-color: #50C4ED;
        }

        input:checked+.slider:before {
            transform: translateX(26px);
        }

        #modeLabel {
            font-weight: bold;
            color: #333;
        }

        /* .loader {
            position: fixed;
            top: 65%;
            left: 55%;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }

        .cs-loader {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-loader-inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container.css-form {
            position: relative;
        } */
    </style>
</head>

<body>

    <header>
        <div class="container header-conmtainer-align">
            <div class="header-flexing">
                <div class="header-flex-one">
                    <img src="{{ url_for('static', filename='images/favicon.jpg') }}" width="135px">
                </div>
                <div class="header-flex-two">
                    <h4 class="h4-headers" style="margin-bottom: 0px;">Conversational AI on Structured Database</h4>
                </div>
            </div>
        </div>
    </header>

    <div class="container css-form mt-5">
    <div class="chat-container">
        <div class="whole-css">
            <div class="forms mt-3">
                <form id="chat" action="/chat" method="post" enctype="multipart/form-data" autocomplete="on">
                    <div style="display: flex;">
                        <div class="container css-form mt-5" style="width: fit-content;">
                            <div class="mb-3">
                                <label class="form-label">Select Your DataSource</label>
                                <select class="form-select" id="datasourceSelect" name="datasourceSelect"
                                    aria-label="Default Select example">
                                    <option value="" selected disabled>Select Datasource</option>
                                    <option value="mysql" {% if selected_datasource=='mysql' %}selected{% endif %}>
                                        MySQL</option>
                                    <option value="postgresql" {% if selected_datasource=='postgresql' %}selected{%
                                        endif %}>
                                        Postgre SQL</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" id="databaseSelectLabel">Select Your Database</label>
                                <select class="form-select" id="databaseSelect" name="databaseSelect"
                                    aria-label="Database Select">
                                    <option value="" selected disabled>Select Database</option>
                                    <option value="healthcare" {% if selected_database=='healthcare' %}selected{% endif
                                        %}>
                                        Healthcare Database</option>
                                    <option value="pharma" {% if selected_database=='pharma' %}selected{% endif %}>
                                        Pharma Database</option>
                                    <option value="chinook" {% if selected_database=='chinook' %}selected{% endif %}
                                        style="display: none;">
                                        Chinook Database</option>
                                    <option value="dummy" {% if selected_database=='dummy' %}selected{% endif %}
                                        style="display: none;">
                                        Dummy Database</option>
                                </select>
                            </div>
                            <div class="mode-toggle">
                                <div class="mode-toggle-switch">
                                    <input type="hidden" id="modeType" name="mode" value="{{ mode }}">
                                    <p style="font-weight: bold; margin-top: 1rem;">Developer Mode</p>
                                    <label class="switch">
                                        <input type="checkbox" id="modeToggleCheckbox" {{ 'checked' if
                                            mode=='developer_mode' else '' }}>
                                        <span class="slider"></span>
                                    </label>
                                    <span id="modeLabel">{{ "ON" if mode == "developer_mode" else "OFF" }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="container css-form mt-5">
                            <div class="mb-3">
                                <label class="form-label">Enter Your Question</label>
                                <div class="search-all-ic">
                                    <div class="input-group">
                                        <input type="text" id="chatInput" name="chatInput"
                                            class="form-control input-con" placeholder="Type here..." autocomplete="on">
                                        <button type="button" class="input-group-text span-s"
                                            onclick="toggleSpeechRecognition()">
                                            <i id="mic_icon" class="fa fa-microphone" style="font-size: 20px;"></i>
                                            <i id="soundwave_icon" class="bi bi-soundwave"
                                                style="display: none; font-size: 20px;"></i>
                                        </button>
                                        &nbsp;
                                        <span id="actions"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="button-side mt-4 mb-4">
                                <div id="sbmt_btn">
                                    <button class="btn btn-sub" id="sub_btn" type="submit"
                                        onclick="handleSubmit(event)">Submit</button>
                                </div>
                            </div>
                            <div class="ask-new-qun-rel">
                                <div class="ask-new-qun-ab">
                                    <input type="hidden" id="chatType" name="chat_type" value="{{ chat_type }}">
                                    <button class="btn btn-sub-ask" type="button" id="toggleButton">{{
                                        "New Question" if
                                        chat_type == "follow_up" else ("Ask Follow up" if chat_type == "new")
                                        }}</button>

                                </div>
                            </div>
                        </div>
                </form>
                <div class="container css-form mt-5" id="vis_table_res_container"
                    style="width:350px;height: 350px; box-shadow: none;">
                    <!-- <p>Hello testing Ui part for the Side visual</p> -->
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->

    <div class="loader" id="loader" style="display: none;">
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label style="color: #0b3396;">●</label>
                <label style="color: #0b3396;">●</label>
                <label style="color: #0b3396;">●</label>
                <label style="color: #0b3396;">●</label>
                <label style="color: #0b3396;">●</label>
                <label style="color: #0b3396;">●</la●el>

            </div>
        </div>
    </div>
    {% if response and not response['mode'] %}
    <input type="hidden" id="responseValue" value="{{ response }}">

    <!-- <div class="mt-5 response_new"> -->
    <div class="container css-form mt-5">
        {% if response.error_message %}
        <div class="mt-3">
            <p>AI Response:</p>
            <strong class="mt-3">{{ response.error_message | safe }}</strong>
        </div>
        {% else %}
        <div class="mt-3" id="response-container">
            <div class="copy-button-aig">
                <p>{{
                    "Rephrased User Question:" if
                    chat_type == "follow_up" else ("User Question:" if chat_type == "new") }}</p>
                <button class="btn" onclick="copyContents_ques()">
                    <i class="fa fa-clone" id="clipboard_icon_ques"></i>
                    <i class="fa fa-check" id="tick_icon_ques" style="display: none;color: #0687ce;border: #0687ce"></i>
                </button>
            </div>
            <strong class="mt-3 copy-content_ques" id="user-ques">{{ response['input'] | safe }}</strong>
            {% if response['sql_query'] %}
            <div class="copy-button-aig">
                <div id="btn_see_sql" style="padding-top: 10px; padding-bottom: 15px;">
                    <button class="btn btn-sub-show" style="background-color: grey; color: white;">Show SQL
                    </button>
                </div>
                <div id="btn_hide_sql" style="display: none; padding-top: 10px; padding-bottom: 15px;">
                    <button class="btn btn-sub-hide" style="background-color: grey; color: white;">Hide SQL
                    </button>
                </div>
                <button class="btn" id="query_copy_icon" onclick="copyContent()" style="display: none;">
                    <i class="fa fa-clone" id="clipboard_icon_sql"></i>
                    <i class="fa fa-check" id="tick_icon_sql"
                        style="display: none; color: #0b3396;border: #0b3396;"></i>
                </button>

            </div>
            <p class="mt-3 copy-content" id="view_sql" style="display:none;">{{ response['sql_query'] |
                safe }}</p>
            {% endif %}
            {% if response.output == "Visualization Generated" %}
            <!-- <strong>AI Response:<strong> -->
            <p>AI Response:</p>
            <div class="mt-3">
                <div id="visuals">
                    <button class="btn btn-sub" onclick="openVisualization('{{ response.chart_filename }}')">Open
                        Visualization
                    </button>
                </div>
                <div class="button-alignse mt-2 mb-2">
                    <button class="btn btn-hovers-up" style="font-size: 20px;" onclick="recordFeedback('Positive')"><i
                            class="fa fa-thumbs-up"></i></button>
                    <button class="btn btn-hovers-down" id="thumbsDownBtn" style="font-size: 20px;"><i
                            class="fa fa-thumbs-down"></i></button>
                </div>
                <div class="thumbs-iup-p text-center" style="display: none;">
                    <p class="blink">Feedback Submitted Successfully...!</p>
                </div>
                <div class="thuumbs-p-sugg " id="thumbsDownDiv" style="display: none;">
                    <p style="font-weight: bolder;">Why do you choose this rating?</p>
                    <div class="checkbox-flexing mb-3">
                        <div class="form-check">
                            <label class="form-check-label" style="font-weight: 500;">
                                <input class="form-check-input" type="checkbox" id="incorrectSqlCheckbox">
                                Incorrect SQL Query
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" style="font-weight: 500;">
                                <input class="form-check-input" type="checkbox" id="otherCheckbox">
                                Other
                            </label>
                        </div>
                    </div>
                    <textarea class="form-control mb-3" id="feedbackComment" placeholder="Feedback"></textarea>
                    <div class="text-center">
                        <button class="btn btn-sub" onclick="recordFeedback('Negative')">Submit</button>
                    </div>

                </div>
            </div>
            {% else %}

            <div class="copy-button-aig">
                <!-- <div> <strong>AI Response:<strong></div> -->
                <p>AI Response:</p>
                <div class="align-fr-copy-two">
                    <button class="btn btn-volumne" id="speak" onclick="tellResponse(`{{response.output}}`)"><i
                            class="fa fa-volume-up" aria-hidden="true"></i>
                    </button>
                    <button class="btn" onclick="copyContentsAndMore()">
                        <i class="fa fa-clone" id="clipboard_icon"></i>
                        <i class="fa fa-check" id="tick_icon" style="display: none;color: #0687ce;border: #0687ce"></i>
                    </button>
                </div>

            </div>
            <div id="response_text">
                <div id="res_text">
                    <strong class="mt-3 copy-contents">{{ response['output'] | safe }}</strong>
                </div>

            </div>
            <div class="button-alignse mt-2 mb-2">
                <button class="btn btn-hovers-up" style="font-size: 20px;" onclick="recordFeedback('positive')"><i
                        class="fa fa-thumbs-up"></i></button>
                <button class="btn btn-hovers-down" id="thumbsDownBtn" style="font-size: 20px;"><i
                        class="fa fa-thumbs-down"></i></button>
            </div>
            <div class="thumbs-iup-p text-center" style="display: none;">
                <p class="blink">Feedback submitted successfully..!</p>
            </div>
            <div class="thuumbs-p-sugg " id="thumbsDownDiv" style="display: none;">
                <p style="font-weight: bolder;">Why do you choose this rating?</p>
                <div class="checkbox-flexing mb-3">
                    <div class="form-check">
                        <label class="form-check-label" style="font-weight: 500;">
                            <input class="form-check-input" type="checkbox" id="incorrectSqlCheckbox">
                            Incorrect SQL Query
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" style="font-weight: 500;">
                            <input class="form-check-input" type="checkbox" id="'otherCheckbox">
                            other
                        </label>
                    </div>
                </div>
                <textarea class="form-control mb-3" id="feedbackComment" placeholder="Feedback"></textarea>
                <div class="text-center">
                    <button class="btn btn-sub" onclick="recordFeedback('Negative')">Submit</button>
                </div>

            </div>
            {% endif %}
        </div>
        {% endif %}
        <textarea id="response-textarea" class="form-control" rows="10" readonly style="display: none;"> </textarea>
    </div>
    {% endif %}
    <!-- ------------------------------------------------------------------------------------------------------------------------------------- -->
    {% if response and response['mode'] %}
    <input type="hidden" id="responseValue" value="{{ response }}">

    <!-- <div class="mt-5 response_new"> -->
    <div class="container css-form mt-5">
        {% if response.error_message %}
        <div class="mt-3">
            <p id="ai_res_txt" style="display: none;">AI Response:</p>
            <strong class="mt-3">{{ response.error_message | safe }}</strong>
        </div>
        {% else %}
        <div class="mt-3" id="response-container">
            <p>{{
                "Rephrased User Question:" if
                chat_type == "follow_up" else ("User Question:" if chat_type == "new") }}</p>
            <strong class="mt-3 copy-content_ques" id="user-ques">{{ response['input'] | safe }}</strong>
            {% if response['sql_query'] %}
            <div class="copy-button-aig">
                <div style="padding-top: 10px; padding-bottom: 15px;">
                    <button class="btn btn-sub-hide" id="edit-sql-btn" style="background-color: grey; color: white;">
                        Edit SQL
                    </button>
                </div>
                <button class="btn" id="query_copy_icon" onclick="copyContent()" style="display: none;">
                    <i class="fa fa-clone" id="clipboard_icon_sql"></i>
                    <i class="fa fa-check" id="tick_icon_sql"
                        style="display: none; color: #0b3396;border: #0b3396;"></i>
                </button>

            </div>
            <p class="mt-3 copy-content" id="view_sql_for_dev_mode" contenteditable="true">{{
                response['sql_query'] |
                safe }}</p>
            <div style="padding-top: 10px; padding-bottom: 15px;">
                <button type="button" class="btn btn-sub-hide" id="gen_ai_res"
                    style="background-color: grey; color: white;" onclick="handleSubmitGetAI(event)">
                    Get AI Response
                </button>
            </div>
            {% endif %}
            {% if response.ai_res == "Visualization Generated" %}
            <p id="ai_res_txt" style="display: none;">AI Response:</p>
            <div class="mt-3">
                <div id="visuals">
                    <button class="btn btn-sub" onclick="openVisualization('{{ response.chart_filename }}')">Open
                        Visualization
                    </button>
                </div>
                <div id="thumbs_icons" style="display: none;">
                    <div class="button-alignse mt-2 mb-2">
                        <button class="btn btn-hovers-up" style="font-size: 20px;"
                            onclick="recordFeedback('positive')"><i class="fa fa-thumbs-up"></i></button>
                        <button class="btn btn-hovers-down" id="thumbsDownBtn" style="font-size: 20px;"><i
                                class="fa fa-thumbs-down"></i></button>
                    </div>
                    <div class="thumbs-iup-p text-center" style="display: none;">
                        <p class="blink">Feedback submitted successfully..!</p>
                    </div>
                    <div class="thuumbs-p-sugg " id="thumbsDownDiv" style="display: none;">
                        <p style="font-weight: bolder;">Why do you choose this rating?</p>
                        <div class="checkbox-flexing mb-3">
                            <div class="form-check">
                                <label class="form-check-label" style="font-weight: 500;">
                                    <input class="form-check-input" type="checkbox" id="incorrectSqlCheckbox">
                                    Incorrect SQL Query
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" style="font-weight: 500;">
                                    <input class="form-check-input" type="checkbox" id="'otherCheckbox">
                                    other
                                </label>
                            </div>
                        </div>
                        <textarea class="form-control mb-3" id="feedbackComment" placeholder="Feedback"></textarea>
                        <div class="text-center">
                            <button class="btn btn-sub" onclick="recordFeedback('Negative')">Submit</button>
                        </div>

                    </div>
                </div>

            </div>
            {%else%}
            <div class="copy-button-aig">
                <p id="ai_res_txt" style="display: none;">AI Response:</p>
                <div class="align-fr-copy-two" id="speaker_copy_icon" style="display: none;">
                    <button class="btn btn-volumne" id="speak" onclick="tellResponse(`{{response.ai_res}}`)"><i
                            class="fa fa-volume-up" aria-hidden="true"></i>
                    </button>
                    <button class="btn" onclick="copyContentsAndMore()">
                        <i class="fa fa-clone" id="clipboard_icon"></i>
                        <i class="fa fa-check" id="tick_icon" style="display: none;color: #0687ce;border: #0687ce"></i>
                    </button>
                </div>

            </div>
            <div id="response_text">
                <div id="res_text">
                    <strong class="mt-3 copy-contents">{{ response['ai_res'] | safe }}</strong>
                </div>
            </div>
            <div id="thumbs_icons" style="display: none;">
                <div class="button-alignse mt-2 mb-2">
                    <button class="btn btn-hovers-up" style="font-size: 20px;" onclick="recordFeedback('positive')"><i
                            class="fa fa-thumbs-up"></i></button>
                    <button class="btn btn-hovers-down" id="thumbsDownBtn" style="font-size: 20px;"><i
                            class="fa fa-thumbs-down"></i></button>
                </div>
                <div class="thumbs-iup-p text-center" style="display: none;">
                    <p class="blink">Feedback submitted successfully..!</p>
                </div>
                <div class="thuumbs-p-sugg " id="thumbsDownDiv" style="display: none;">
                    <p style="font-weight: bolder;">Why do you choose this rating?</p>
                    <div class="checkbox-flexing mb-3">
                        <div class="form-check">
                            <label class="form-check-label" style="font-weight: 500;">
                                <input class="form-check-input" type="checkbox" id="incorrectSqlCheckbox">
                                Incorrect SQL Query
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" style="font-weight: 500;">
                                <input class="form-check-input" type="checkbox" id="'otherCheckbox">
                                other
                            </label>
                        </div>
                    </div>
                    <textarea class="form-control mb-3" id="feedbackComment" placeholder="Feedback"></textarea>
                    <div class="text-center">
                        <button class="btn btn-sub" onclick="recordFeedback('Negative')">Submit</button>
                    </div>

                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <textarea id="response-textarea" class="form-control" rows="10" readonly style="display: none;"> </textarea>
    </div>
    {% endif %}


    <!-- not needed one -->
    <!-- <script>
                    document.getElementById('edit-sql-btn').addEventListener('click', function () {
                        var pTag = document.getElementById('view_sql_for_dev_mode');
                        pTag.setAttribute('contenteditable', 'true');
                        pTag.focus();
                    });

                    document.getElementById('gen_ai_res').addEventListener('click', function () {
                        var pTag = document.getElementById('view_sql_for_dev_mode');
                        var hiddenInput = pTag.innerText || pTag.textContent;

                        var data = {
                            chatInput: document.getElementById('user-ques').innerText,
                            chat_type: sessionStorage.getItem('chatType') || 'new',
                            mode: sessionStorage.getItem('mode'),
                            databaseSelect: document.getElementById('databaseSelect').value,
                            datasourceSelect: document.getElementById('datasourceSelect').value,
                            hidden_sql: hiddenInput
                        };

                        console.log(data.chatInput, 'chatInput from edit');
                        console.log(data.chat_type, 'chat_type from edit');
                        console.log(data.mode, 'mode from edit');
                        console.log(data.databaseSelect, 'databaseSelect from edit');
                        console.log(data.datasourceSelect, 'datasourceSelect from edit');
                        console.log(data.hidden_sql, 'hidden_sql from edit');

                        fetch('/edit_query', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                            .then(response => {
                                if (response.redirected) {
                                    showLoader()
                                    window.location.href = response.url;
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log('Success:', data);
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                    });
                </script> -->
    <!-- <script>
                    document.getElementById('edit-sql-btn').addEventListener('click', function () {
                        var pTag = document.getElementById('view_sql_for_dev_mode');
                        pTag.setAttribute('contenteditable', 'true');
                        pTag.focus();
                    });
                
                    document.getElementById('gen_ai_res').addEventListener('click', function () {
                        var pTag = document.getElementById('view_sql_for_dev_mode');
                        var hiddenInput = pTag.innerText || pTag.textContent;
                        console.log(hiddenInput, 'hiddenInput');
                
                        var data = {
                            chatInput: document.getElementById('user-ques').innerText,
                            chat_type: sessionStorage.getItem('chatType') || 'new',
                            mode: sessionStorage.getItem('mode'),
                            databaseSelect: document.getElementById('databaseSelect').value,
                            datasourceSelect: document.getElementById('datasourceSelect').value,
                            hidden_sql: hiddenInput
                        };
                
                        console.log(data.chatInput, 'chatInput from edit');
                        console.log(data.chat_type, 'chat_type from edit');
                        console.log(data.mode, 'mode from edit');
                        console.log(data.databaseSelect, 'databaseSelect from edit');
                        console.log(data.datasourceSelect, 'datasourceSelect from edit');
                        console.log(data.hidden_sql, 'hidden_sql from edit');
                
                        fetch('/edit_query', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                            var aiResponseContainer = document.getElementById('response_text');
                            aiResponseContainer.innerHTML = '<div id="res_text"><strong class="mt-3 copy-contents">' + data.ai_res + '</strong></div>';
                            var sqlContainer = document.getElementById('view_sql_for_dev_mode');
                            sqlContainer = data.hidden_sql;
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                    });
                </script> -->
    <script>
        document.getElementById('edit-sql-btn').addEventListener('click', function () {
            var pTag = document.getElementById('view_sql_for_dev_mode');
            pTag.setAttribute('contenteditable', 'true');
            pTag.focus();
        });

        document.getElementById('gen_ai_res').addEventListener('click', function () {
            var pTag = document.getElementById('view_sql_for_dev_mode');
            var hiddenInput = pTag.innerText || pTag.textContent;
            console.log(hiddenInput, 'hiddenInput');

            var data = {
                chatInput: document.getElementById('user-ques').innerText,
                chat_type: sessionStorage.getItem('chatType') || 'new',
                mode: sessionStorage.getItem('modeType'),
                databaseSelect: document.getElementById('databaseSelect').value,
                datasourceSelect: document.getElementById('datasourceSelect').value,
                hidden_sql: hiddenInput
            };

            console.log(data.chatInput, 'chatInput from edit');
            console.log(data.chat_type, 'chat_type from edit');
            console.log(data.mode, 'mode from edit');
            console.log(data.databaseSelect, 'databaseSelect from edit');
            console.log(data.datasourceSelect, 'datasourceSelect from edit');
            console.log(data.hidden_sql, 'hidden_sql from edit');

            fetch('/edit_query', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    showLoader()
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    var aiResponseContainer = document.getElementById('res_text');
                    var sqlContainer = document.getElementById('view_sql_for_dev_mode');

                    if (aiResponseContainer && data.ai_res == 'Visualization Generated') {
                        document.getElementById('ai_res_txt').style.display = 'inline';
                        document.getElementById('thumbs_icons').style.display = 'inline'
                        aiResponseContainer.innerHTML = `
            <div class="mt-3">
                <div id="visuals">
                    <button class="btn btn-sub" onclick="openVisualization('${data.chart_filename}')">
                        Open Visualization
                    </button>
                </div>
            </div>`;
                        hideLoader()
                    } else if (aiResponseContainer) {
                        document.getElementById('ai_res_txt').style.display = 'inline'
                        document.getElementById('speaker_copy_icon').style.display = 'flex'
                        document.getElementById('thumbs_icons').style.display = 'inline'
                        aiResponseContainer.innerHTML = '<div id="res_text"><strong class="mt-3 copy-contents">' + data.ai_res + '</strong></div>';
                        hideLoader()
                    }
                    else {
                        console.error('Element with ID response_text not found');
                    }

                    if (sqlContainer) {
                        sqlContainer = data.hidden_sql;
                    } else {
                        console.error('Element with ID view_sql_for_dev_mode not found');
                    }

                })
                .catch((error) => {
                    console.error('Error:', error);
                    hideLoader();
                    var errorMessageContainer = document.getElementById('res_text');
                    if (errorMessageContainer) {
                        errorMessageContainer.style.display = 'block';
                        errorMessageContainer.innerText = 'An error occurred: ' + error.message;
                    } else {
                        console.error('Element with ID error_message not found');
                    }
                });
        });

    </script>


    <script>
        // Example JavaScript to dynamically change label and options
        const datasourceSelect = document.getElementById('datasourceSelect');
        datasourceSelect.addEventListener('change', function () {
            const selectedDatasource = this.value;
            const databaseSelectLabel = document.getElementById('databaseSelectLabel');
            const databaseSelect = document.getElementById('databaseSelect');

            if (selectedDatasource === 'mysql') {
                databaseSelectLabel.textContent = 'Select Your MySQL Database';
                databaseSelect.innerHTML = `
                                <option value="healthcare" {% if selected_database=='healthcare' %}selected{% endif %}>
                                    Healthcare Database</option>
                                <option value="pharma" {% if selected_database=='pharma' %}selected{% endif %}>
                                    Pharma Database</option>
                            `;
            } else if (selectedDatasource === 'postgresql') {
                databaseSelectLabel.textContent = 'Select Your PostgreSQL Database';
                databaseSelect.innerHTML = `
                                <option value="chinook" {% if selected_database=='chinook' %}selected{% endif %}>
                                    Chinook Database</option>
                                <option value="dummy" {% if selected_database=='dummy' %}selected{% endif %}>
                                    Dummy Database</option>
                            `;
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const selectElement = document.getElementById('datasourceSelect');

            selectElement.addEventListener('change', (event) => {
                const selectedDatasourceValue = event.target.value;

                if (selectedDatasourceValue === 'mysql') {
                    console.log('MYSQL datasource');
                } else if (selectedDatasourceValue === 'postgresql') {
                    console.log('postgresql datasource');
                }
            });
        });
    </script>
    <!-- Session storage logic -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var button = document.getElementById('toggleButton');
            var chatTypeInput = document.getElementById("chatType");
            var dataSourceSelect = document.getElementById("datasourceSelect");
            var databaseSelect = document.getElementById("databaseSelect");

            var storedChatType = sessionStorage.getItem('chatType');
            if (storedChatType) {
                chatTypeInput.value = storedChatType;
                updateButtonUI(chatTypeInput.value);
                updateSelectUI(chatTypeInput.value);
            }

            button.addEventListener("click", function () {
                if (chatTypeInput.value === 'follow_up') {
                    chatTypeInput.value = 'new';
                } else if (chatTypeInput.value === 'new') {
                    chatTypeInput.value = 'follow_up';
                }
                updateButtonUI(chatTypeInput.value);
                updateSelectUI(chatTypeInput.value);
                sessionStorage.setItem('chatType', chatTypeInput.value);
            });

            function updateButtonUI(chatType) {
                if (chatType === 'follow_up') {
                    button.textContent = 'New Question';
                    button.style.backgroundColor = '#50C4ED';
                } else if (chatType === 'new') {
                    button.textContent = 'Ask Follow up';
                    button.style.backgroundColor = '';
                }
            }
            function updateSelectUI(chatType) {
                if (chatType === 'follow_up') {
                    dataSourceSelect.classList.add('readonly');
                    databaseSelect.classList.add('readonly');
                } else if (chatType === 'new') {
                    dataSourceSelect.classList.remove('readonly');
                    databaseSelect.classList.remove('readonly');
                }
            }
        });
    </script>
    <!-- mode logic -->

    <!-- <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var button = document.getElementById('modetoggleButton');
                        var modeType = document.getElementById("modeType");
                        var modeToggleAb = document.querySelector('.mode-toggle-ab');

                        var storedModeType = sessionStorage.getItem('modeType');
                        if (storedModeType) {
                            modeType.value = storedModeType;
                            updateButtonUI(modeType.value);
                        }

                        button.addEventListener("click", function () {
                            if (modeType.value === 'developer_mode') {
                                modeType.value = 'user_mode';
                            } else if (modeType.value === 'user_mode') {
                                modeType.value = 'developer_mode';
                            }
                            updateButtonUI(modeType.value);
                            sessionStorage.setItem('mode', modeType.value);
                        });

                        function updateButtonUI(chatType) {
                            if (chatType === 'developer_mode') {
                                button.textContent = 'Switch User Mode';
                                button.style.backgroundColor = '#973131';
                            } else if (chatType === 'user_mode') {
                                button.textContent = 'Switch Developer Mode';
                                button.style.backgroundColor = '';
                            }
                        }
                    });
                </script> -->
    <script>
        // tab switch logic for mode
        // document.addEventListener("DOMContentLoaded", function () {
        //     var modeType = document.getElementById("modeType");
        //     var storedModeType = sessionStorage.getItem('modeType');
        //     if (storedModeType) {
        //         modeType.value = storedModeType;
        //         document.getElementById(storedModeType).checked = true;
        //     }

        //     var modeToggleButtons = document.querySelectorAll('input[name="modeToggle"]');
        //     modeToggleButtons.forEach(function (button) {
        //         button.addEventListener("change", function () {
        //             modeType.value = button.value;
        //             sessionStorage.setItem('modeType', modeType.value);
        //         });
        //     });
        // });
        // on/off logic
        document.addEventListener("DOMContentLoaded", function () {
            var modeType = document.getElementById("modeType");
            var modeToggleCheckbox = document.getElementById("modeToggleCheckbox");
            var modeLabel = document.getElementById("modeLabel");

            var storedModeType = sessionStorage.getItem('modeType');
            if (storedModeType) {
                modeType.value = storedModeType;
                modeToggleCheckbox.checked = (storedModeType === 'developer_mode');
                updateModeLabel(modeToggleCheckbox.checked);
            }

            modeToggleCheckbox.addEventListener("change", function () {
                if (modeToggleCheckbox.checked) {
                    modeType.value = 'developer_mode';
                } else {
                    modeType.value = 'user_mode';
                }
                updateModeLabel(modeToggleCheckbox.checked);
                sessionStorage.setItem('modeType', modeType.value);
            });

            function updateModeLabel(isDeveloperMode) {
                modeLabel.textContent = isDeveloperMode ? "ON" : "OFF";
            }
        });

    </script>
    <script>
        function showLoader() {
            $("#loader").show(); // show the loader
        }
        function hideLoader() {
            $("#loader").hide(); // hide the loader
        }
    </script>

    <script>
        function validateForm() {
            var databaseSelect = document.getElementById('databaseSelect');
            var questionInput = document.getElementById('chatInput');
            var datasourceSelect = document.getElementById('datasourceSelect')

            if (databaseSelect.selectedIndex == -1) {
                alert('Please select a database');
                return false;
            }

            if (datasourceSelect.selectedIndex == -1) {
                alert('Please select a datasource');
                return false;
            }
            if (questionInput.value.trim() == '') {
                alert('Please enter your question');
                return false;
            }
            return true
        }
        function handleSubmit(event) {
            if (validateForm()) {
                showLoader();
                return true;
            } else {
                event.preventDefault();
                return false;
            }
        }
        function handleSubmitGetAI() {
            showLoader()
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const thumbsDownBtn = document.getElementById('thumbsDownBtn');
            const thumbsDownDiv = document.getElementById('thumbsDownDiv');
            const incorrectSqlCheckbox = document.getElementById('incorrectSqlCheckbox');
            const otherCheckbox = document.getElementById('otherCheckbox');
            const feedbackComment = document.getElementById('feedbackComment');

            thumbsDownBtn.addEventListener('click', function () {
                if (thumbsDownDiv.style.display === 'none') {
                    thumbsDownDiv.style.display = 'block';
                } else {
                    thumbsDownDiv.style.display = 'none';
                }
            });

            window.recordFeedback = function (feedback) {
                let feedbackType = "";
                if (feedback === 'Negative') {
                    if (incorrectSqlCheckbox && otherCheckbox) {
                        if (incorrectSqlCheckbox.checked && otherCheckbox.checked) {
                            feedbackType = "Incorrect SQL Query & Other";
                        } else if (otherCheckbox.checked) {
                            feedbackType = "Other";
                        } else if (incorrectSqlCheckbox.checked) {
                            feedbackType = "Incorrect SQL Query";
                        } else {
                            feedbackType = 'Other';
                        }
                    } else {
                        feedbackType = 'Other';
                    }
                }

                const userQuestion = document.querySelector('#user-ques').innerText;
                const sqlQueryElement = document.querySelector('.copy-content');
                const sqlQuery = sqlQueryElement ? sqlQueryElement.innerText : '';
                const aiResponseElement = document.querySelector('#res_text');
                const aiResponse = aiResponseElement ? aiResponseElement.innerText : '';
                const comment = feedback === 'Negative' ? feedbackComment.value : "";

                const feedbackData = {
                    userQuestion: userQuestion,
                    sqlQuery: sqlQuery,
                    aiResponse: aiResponse,
                    feedback: feedback,
                    feedbackType: feedbackType,
                    comment: comment
                };

                fetch('/record_feedback', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(feedbackData),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Feedback recorded successfully', data);
                        showFeedbackSubmittedMessage();
                    })
                    .catch((error) => {
                        console.error('Error recording feedback', error);
                    });

                console.log("User Question:", userQuestion);
                console.log("SQL Query:", sqlQuery);
                console.log("AI Response:", aiResponse);
                console.log("Feedback:", feedback);
                console.log("Feedback Type:", feedbackType);
                console.log("Comment:", comment);

                thumbsDownDiv.style.display = 'none';
            }

            function showFeedbackSubmittedMessage() {
                const thumbsUpMessage = document.querySelector('.thumbs-iup-p');
                thumbsUpMessage.style.display = 'block';
                setTimeout(function () {
                    thumbsUpMessage.style.display = 'none';
                }, 3000);
            }

            // Assuming there is a button with id 'submitFeedback' to trigger the feedback submission
            const submitFeedbackButton = document.getElementById('submitFeedback');
            if (submitFeedbackButton) {
                submitFeedbackButton.addEventListener('click', function () {
                    recordFeedback('Negative');
                });
            }
        });

    </script>


    <script>
        const seeSql = document.getElementById('btn_see_sql');
        const sqlRes = document.getElementById('view_sql');
        const hideSql = document.getElementById('btn_hide_sql');
        const query_copy = document.getElementById('query_copy_icon');

        seeSql.addEventListener('click', function () {
            if (sqlRes.style.display === 'none') {
                sqlRes.style.display = 'block';
                query_copy.style.display = 'block';
                hideSql.style.display = 'block';
                seeSql.style.display = 'none';
            }
        });
        hideSql.addEventListener('click', function () {
            if (sqlRes.style.display === 'block') {
                sqlRes.style.display = 'none';
                query_copy.style.display = 'none';
                hideSql.style.display = 'none';
                seeSql.style.display = 'block';

            }
        });
    </script>

    <script>
        let recognition;
        let isListening = false;
        let editTimeout;

        function speakResponse(text) {
            console.log('Speaking the response');
            const speech = new SpeechSynthesisUtterance();
            speech.text = text;
            speech.volume = 1;
            speech.rate = 1;
            speech.pitch = 1;

            if ('speechSynthesis' in window) {
                window.speechSynthesis.onvoiceschanged = () => {
                    const voices = speechSynthesis.getVoices();
                    speech.voice = voices.find(voice => voice.name.includes('Google UK English Female')
                        || voice.name.includes('Microsoft Zira - English (United States)'));
                    speech.onend = function () {
                        sessionStorage.setItem('isSpeechQuestion', 'false');
                    };
                    window.speechSynthesis.speak(speech);
                };
            }
        }

        function automate_text(responseText) {
            console.log('Automate_text_activated');
            speakResponse(responseText);
        }

        function handleSpeechInput(transcript) {
            document.getElementById('chatInput').value = transcript;
            sessionStorage.setItem('isSpeechQuestion', 'true');
            startEditTimer();
        }

        function toggleSpeechRecognition() {
            if (!isListening) {
                startSpeechRecognition();
            } else {
                endSpeechRecognition();
            }
        }

        function startSpeechRecognition() {
            if (!recognition) {
                if ('webkitSpeechRecognition' in window) {
                    recognition = new webkitSpeechRecognition();
                } else if ('SpeechRecognition' in window) {
                    recognition = new SpeechRecognition();
                } else {
                    console.error('Speech recognition not supported in this browser');
                    return;
                }
                recognition.onresult = function (event) {
                    const transcript = event.results[0][0].transcript;
                    handleSpeechInput(transcript);
                };
                recognition.onerror = function (event) {
                    console.error('Speech recognition error:', event.error);
                    alert('Speech recognition error:' + event.error);
                    endSpeechRecognition();
                };
                recognition.onend = function () {
                    document.getElementById('mic_icon').style.display = 'inline';
                    document.getElementById('soundwave_icon').style.display = 'none';
                    var elements = document.getElementsByClassName('span-s');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].style.backgroundColor = '#0b3396';
                    }
                    isListening = false;
                };
            }
            document.getElementById('mic_icon').style.display = 'none';
            document.getElementById('soundwave_icon').style.display = 'inline';
            var elements = document.getElementsByClassName('span-s');
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.backgroundColor = 'red';
            }
            recognition.start();
            isListening = true;
        }

        function endSpeechRecognition() {
            if (recognition) {
                recognition.stop();
            }
            document.getElementById('mic_icon').style.display = 'inline';
            document.getElementById('soundwave_icon').style.display = 'none';
            var elements = document.getElementsByClassName('span-s');
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.backgroundColor = '#0b3396';
            }
            isListening = false;
        }

        function startEditTimer() {
            clearTimeout(editTimeout);
            editTimeout = setTimeout(() => {
                if (sessionStorage.getItem('isSpeechQuestion') === 'true' && !document.getElementById('chatInput').isEditing) {
                    document.getElementById('sub_btn').click();
                }
            }, 3000);
        }

        function handleInputChange() {
            document.getElementById('chatInput').isEditing = true;
            clearTimeout(editTimeout);
        }

        function handleSubmit(event) {
            if (validateForm()) {
                showLoader();
                return true;
            } else {
                event.preventDefault();
                return false;
            }
        }

        document.getElementById('chatInput').addEventListener('input', handleInputChange);
        document.getElementById('chatInput').addEventListener('focus', handleInputChange);
        document.getElementById('chatInput').addEventListener('blur', () => {
            document.getElementById('chatInput').isEditing = false;
            if (sessionStorage.getItem('isSpeechQuestion') === 'true') {
                startEditTimer();
            }
        });

        document.getElementById('soundwave_icon').addEventListener('click', function () {
            endSpeechRecognition();
        });

        window.onload = function () {
            const responseElement = document.getElementById('res_text');
            const visualsElement = document.getElementById('visuals');
            const isSpeechQuestion = sessionStorage.getItem('isSpeechQuestion') === 'true';

            let textToSpeak = "";
            if (responseElement) {
                const responseText = responseElement.innerText.trim();
                const tablePresent = responseElement.querySelector('table') !== null;
                if (tablePresent) {
                    textToSpeak = "Please find the response below";
                } else {
                    textToSpeak = responseText;
                }
            }

            if (visualsElement && visualsElement.innerHTML.trim() !== '') {
                textToSpeak = "Please click the open visualization button to view the chart";
            }
            if (textToSpeak && isSpeechQuestion) {
                automate_text(textToSpeak);
            }
        };

        document.getElementById('chat').addEventListener('submit', function () {
            if (!sessionStorage.getItem('isSpeechQuestion')) {
                sessionStorage.setItem('isSpeechQuestion', 'false');
            }
        });

    </script>

    <script>
        function sanitizeHTML(text) {
            const tempElement = document.createElement('div');
            tempElement.innerHTML = text;
            return tempElement.textContent || tempElement.innerText || '';
        }
        function tellResponse(text) {
            console.log('Entered into tell response function');
            const speechSynthesis = window.speechSynthesis;
            const speechText = new SpeechSynthesisUtterance();
            const responseElement = document.getElementById('res_text');
            const visualsElement = document.getElementById('visuals');

            let textToSpeak = "";
            if (responseElement) {
                const responseText = responseElement.innerText.trim();
                const tablePresent = responseElement.querySelector('table') !== null;
                if (tablePresent) {
                    textToSpeak = "Please find the response below";
                    speechText.text = sanitizeHTML(textToSpeak);
                } else {
                    textToSpeak = responseText;
                    speechText.text = sanitizeHTML(textToSpeak);
                }

            }
            function speak() {
                const voices = speechSynthesis.getVoices();
                const femaleVoice = voices.find(voice => voice.name.includes('Zira'));
                if (femaleVoice) {
                    speechText.voice = femaleVoice;
                    speechSynthesis.speak(speechText);
                } else {
                    console.log('Desired voice not found');
                }
            }

            if (speechSynthesis.getVoices().length === 0) {
                speechSynthesis.addEventListener('voiceschanged', speak);
            } else {
                speak();
            }
        }
    </script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Your Custom JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>